<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1> List cars</h1>
<table>
    <thead>
    <tr>
        <th>Age</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.age}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>